@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(0, 126, 255, 1), rgba(165, 143, 255, 1), rgba(243, 143, 255, 1));
}

h1, h2, h3 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans', 'Arial', sans-serif;
    color: midnightblue;
}

/*Library*/

.library {
    width: 60%;
    margin: 20px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.library__form {
    width: 100%;
    margin-top: 10px;
    padding: 20px 15%;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid midnightblue;
    border-bottom: 1px solid midnightblue;
}

@media (min-width: 1024px) {
    .library__form {
        padding: 20px 25%;
    }
}

.library__message {
    margin-top: 10px;
}

.bookPage {
    margin: 20px;
    width: 500px;
    padding: 10px 0 0 0;
    background-color: lavender;
    border: 2px solid midnightblue;
    border-radius: 20px;
}

.bookPage__title {
    margin-bottom: 10px;
    padding: 0 20px;
}

.bookPage__img {
    width: 200px;
    height: 350px;
    display: block;
    margin: 5px auto;
}

.bookPage__info {
    margin: 10px 0;
    text-align: center;
}

.bookPage__description {
    margin-top: 10px;
    padding: 20px;
    background-color: aliceblue;
    border-top: 1px solid midnightblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bookPage__error {
    margin-bottom: 10px;
}

.books__list {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book__card {
    width: 200px;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid midnightblue;
    border-radius: 12px;
    box-shadow: 0 0 5px midnightblue;
    cursor: pointer;
}

.book__img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.book__title {
    margin: 10px 0;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
}

.book__author {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

.book__info {
    margin-top: 5px;
    font-size: 12px;
}

/*Currency*/

.currency {
    width: 60%;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.currency__warning {
    color: crimson;
    font-size: 12px;
}

.currency__error {
    margin-bottom: 10px;
}

.currency__subtitle {
    margin-top: 10px;
}

.currency__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.currency__card {
    width: 140px;
    height: 140px;
    margin: 5px;
    padding: 0 5px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 5px midnightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency__pair {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0;
    border-top: 3px double midnightblue;
    border-bottom: 3px double midnightblue;
}

.currency__converter {
    width: 100%;
    margin: 20px auto;
    padding: 20px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid midnightblue;
    border-bottom: 1px solid midnightblue;
}

@media (min-width: 450px) {
    .currency__converter {
        padding: 20px 10%;
    }
}

@media (min-width: 700px) {
    .currency__converter {
        padding: 20px 25%;
    }
}

.currency__form {
    margin-top: 10px;
}

.currency__result {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid midnightblue;
    background-color: aliceblue;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 3px solid indigo;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}

.pagBar {
    margin: 20px 0 0 130px;
}

.pagBtn {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: 5px;
    color: black;
    background-color: beige;
    border: 2px solid indigo;
    border-radius: 2px;
    cursor: pointer;
}

.pagBtnCurrent {
    width: 20px;
    height: 20px;
    padding: 5px;
    margin-left: 5px;
    color: white;
    background-color: indigo;
    border: 2px solid indigo;
    border-radius: 2px;
    cursor: pointer;
}
