.navbar {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: lavender;
    box-shadow: 0 0 10px midnightblue;
}

.navbar__link {
    display: inline-block;
    padding: 2px;
    margin-right: 10px;
    color: midnightblue;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar__link:hover {
    color: mediumorchid;
}

.navbar__links {
    display: flex;
    justify-content: space-between;
}